<%= form_with(model: @feedback, url: feedback_path, method: :post) do |form| %>
  <%= govuk_back_link_to({ text: 'Home', href: '/' }) %>

  <%= govuk_page_header(title_text: 'Give feedback on Request personal information') %>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        Satisfaction survey
      </legend>
      <h2 class="govuk-heading-s">
        Overall, how did you feel about the service you received today?
      </h2>

      <div class="govuk-radios" data-module="govuk-radios">
        <% %w[very_satisfied satisfied neither dissatisfied very_dissatisfied].each do |value| %>
          <div class="govuk-radios__item">
            <%= form.radio_button :service_satisfaction_level, value, id: "service_#{value}" %>
            <%= form.label :service_satisfaction_level, value.humanize.titleize, for: "service_#{value}" %>
          </div>
        <% end %>
      </div>
    </fieldset>

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1200"> <%# govuk-form-group is not needed here %>
      <%= form.label :comments, "How could we improve this service?", class: "govuk-label govuk-label--m" %>
      <div id="with-hint-hint" class="govuk-hint">
        Do not include any personal or financial information, for example your National Insurance or credit card numbers.
      </div>
      <%= form.text_area :comments, rows: 5, class: "govuk-textarea govuk-js-character-count", id: "word-count", aria-describedby: "word-count-info" %>
      <span id="word-count-info" class="govuk-hint govuk-character-count__message">
        You have 1200 characters remaining
      </span> <%# Should be a <span> %>
    </div>
  </div>

  <%= form.govuk_submit "Send feedback" %>
<% end %>
