<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on [name of service]">
  <div class="govuk-cookie-banner__message govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">
          <%=t '.title', service_name: service_name %>
        </h2>
        <div class="govuk-cookie-banner__content">
          <%=t '.content_html' %>
        </div>
      </div>
    </div>
    <%= form_with url: cookies_path, method: :put do %>
      <div class="govuk-button-group">
        <button value="accept" type="submit" name="cookies" class="govuk-button" data-module="govuk-button">
          <%=t '.accept_button' %>
        </button>

        <button value="reject" type="submit" name="cookies" class="govuk-button" data-module="govuk-button">
          <%=t '.reject_button' %>
        </button>

        <%= link_to t('.cookies_link'), cookies_path, class: 'govuk-link' %>
      </div>
    <% end %>
  </div>
</div>
